{% extends "base_generic.html" %}

{% load static %}

{% block sidebar %}
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="{% url 'lista_paciente' %}" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'busqueda_ficha' %}" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Buscar un paciente</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'agregar' %}" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Registrar Paciente</span>
                        </a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{% static 'inicio1.png' %}" alt="hugenerd" width="30" height="30" class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">Usuario</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
      <div class="col py-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8 ">
                    <div class="row d-flex justify-content-center">
                        <h3>Resultados</h3> 
                    </div>
                    <p>Est&aacute;s buscando: <strong>{{query}}</strong></p>
                    {% if paciente %}
                        <p>Pacientes Encontrados: {{paciente|length}} pacientes</p>

                        <ul>
                            {% for p in paciente %}
                            <li>
                                {{p.nombre}}
                                {{p.apellido}}<br/>
                                 edad: {{p.edad}}
                                 id: {{p.id}}
                            </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>No esta el paciente buscado</p>
                    {% endif %}
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
      </div>
  </div>
</div>
{% endblock %}


{% block busq %}

<div class="container-fluid">
  <div class="row pt-2">
    <div class="col-sm-12 col-md-4 pt-5">

    </div>
    <div class="col-sm-12 col-md-8 pt-5">

    </div>

  </div>
</div>
{% endblock %}